https://www.kaggle.com/aakashnain/simple-eda

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation

sns.set(color_codes=True)

In [3]:
data = pd.read_csv('auto-mpg.csv')
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [3]:
#horsepower sale como objets perotiene valores num√©ricos, como codriamos pasar a numericos esos valores 

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      398 non-null object
weight          398 non-null int64
acceleration    398 non-null float64
model year      398 non-null int64
origin          398 non-null int64
car name        398 non-null object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [4]:
# Check for duplicates
data[data.duplicated()] #no hay ningun vlaor duplicado o ninguna fila duplicada o columna

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [5]:
# Check for opposite duplicates
data[~data.duplicated()] # en este caso lo contrario a los duplicados

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [5]:
# Check car names uniques
data["car name"].value_counts()

ford pinto                   6
amc matador                  5
toyota corolla               5
ford maverick                5
amc hornet                   4
                            ..
saab 99e                     1
oldsmobile omega             1
toyota celica gt liftback    1
datsun 610                   1
plymouth horizon 4           1
Name: car name, Length: 305, dtype: int64

In [7]:
# Check types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      398 non-null object
weight          398 non-null int64
acceleration    398 non-null float64
model year      398 non-null int64
origin          398 non-null int64
car name        398 non-null object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [8]:
# horsepower      398 non-null object
# Is object? 

horsepower = data.loc[:, ["horsepower"]]
horsepower

    horsepower
0          130
1          165
2          150
3          150
4          140
..         ...
393         86
394         52
395         84
396         79
397         82

[398 rows x 1 columns]

In [9]:
#estamos accediendo al primer elemento de la columna. Vamos a pasarlo a entero el objeto

type(data.loc[:, ["horsepower"]].values[0][0])

str

In [10]:
data["horsepower"]

0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 398, dtype: object

Example with average and python

In [11]:
#estamos aqui transformando el horsepower a entero, por eso se hace esta funcion, la x se cambia a entero, se hace un except por si en lagun momento no se pueda cambiar por eso se hace el except para que muestre que es l oque ocurre y me pide que se returne el x por que siempre hay que retornar un valor 

def try_convert_to_int(x):
    try:
        return int(x)
    except:
        print("Rare value:", x)
        return x

In [12]:
data["horsepower"].apply(try_convert_to_int)

Rare value: ?
Rare value: ?
Rare value: ?
Rare value: ?
Rare value: ?
Rare value: ?

0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 398, dtype: object

In [13]:
len(data[data["horsepower"] == "?"])  #cuantas filas hay con ese valor raro

6

In [14]:
data[data["horsepower"] == "?"] #mascara para ver que filas son

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
32,25.0,4,98.0,?,2046,19.0,71,1,ford pinto
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick
330,40.9,4,85.0,?,1835,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,?,2320,15.8,81,2,renault 18i
374,23.0,4,151.0,?,3035,20.5,82,1,amc concord dl

In [ ]:
#Estrategia para arreglar eso: seguir un criterio a la hora de arreglarlo. Quizas preguntar a alguien que sepa, solo que esto es malo s tenemos muchos valores

In [16]:
# max --> 230
# min --> 46
data[data["horsepower"] != "?"].horsepower.astype(int)

0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 392, dtype: int32

In [17]:
data["horsepower"].value_counts(normalize=False)#poner un valor entre 0 y 1 entre cada una de los valores de las columnas. Normalizar los valores y que cuya suma de 1

150    22
90     20
88     19
110    18
100    17
       ..
49      1
135     1
208     1
91      1
122     1
Name: horsepower, Length: 94, dtype: int64

In [18]:
data["horsepower"].value_counts(normalize=True)

150    0.055276
90     0.050251
88     0.047739
110    0.045226
100    0.042714
         ...
49     0.002513
135    0.002513
208    0.002513
91     0.002513
122    0.002513
Name: horsepower, Length: 94, dtype: float64

In [19]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [20]:
# example to obtain the average using python
horsepower_mean = 0
count = 0
for pos, value in enumerate(data["horsepower"]):
    if value != "?":
        horsepower_mean += int(value)
        count += 1

horsepower_mean = horsepower_mean / count
horsepower_mean

104.46938775510205

In [28]:
# Lo primero seria intentar buscar la informaci√≥n, lo segundo si son mucho podemos eliminar las filas si son pocas. Pero si no se puede, habria que buscar la estrategia y en este caso hacemos una verificacion a ver si no falseamos tanto los valores, por eso hacemos la media.
# max --> 230
# min --> 46

data[data["horsepower"] != "?"]["horsepower"].astype(int).mean()

104.46938775510205

In [29]:
data["horsepower"]

0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 398, dtype: object

In [21]:
#ESTA ES UNA DE LAS MANERAS PARA REMPLAZAR la media en la data

def convert_to_int_with_average(x): #la x es cada uno de los valores de la columna
    if x != "?":
        return int(x)
    else:
        return horsepower_mean

data["horsepower"] = data["horsepower"].apply(convert_to_int_with_average)

In [22]:
data["horsepower"]

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
393     86.0
394     52.0
395     84.0
396     79.0
397     82.0
Name: horsepower, Length: 398, dtype: float64

In [23]:
x = "?"
x.isnumeric()

False

In [24]:
data[data["horsepower"] == "?"]

Z:\Data_Science\Software\Python\Python_3.6.4\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

-----------------
Example deletting rows with ?

In [25]:
data[data["horsepower"] == "?"]

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

Way with mask

In [36]:
data[data["horsepower"] != "?"]
# Tendr√≠amos que actualizar data para quedarnos con las filas sin "?"

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

In [ ]:
#La mascara es una copia. No se cambia por que eso es una copia data[data["horsepower"] == "?"] cuando ponemos el replace aqui estamos haciendo un replace a una copia que estamos sacando

In [ ]:
# Con replace se puede tambien hacer 

data[data["horsepower"] == "?"].replace("?",horsepower_mean) #Esto aqui aun no esta modificando data. Si pongo inplace =True ah isi

In [ ]:
data[data["horsepower"] == "?"] = data[data["horsepower"] == "?"].replace("?",horsepower_mean, inplace=True)
#puede ser esto pero hay que tener cuidado con esta parte por que eso es una mascara, hay que verificar que efectivamente se ha cambiado. Se verifica volviendo a poner la mascara para ver si estan o no los valores

In [7]:
print(0)
assert "h" != "w"
print (1)
assert False
print(2)
assert True
print(3)

0
1

AssertionError: