# DataFrame Exploration
There are several commands in pandas that you can use in the begining of a exploratory data analysis

Before starting cleaning data, grouping, managing missing values, it is important to know some basic aspects of your dataset:
* Dimensions
* Columns
* Few observations
* Types of data
* Missings
* Some statistics

And you can achieve this in just a few lines. First, let's start loading a dataset. In this case, the 'mpg' dataset from the seaborn library.

In [2]:
import seaborn as sns

df = sns.load_dataset('mpg')
type(df)

pandas.core.frame.DataFrame

## Dimensions
You can calculate the dimensions of the dataset with the `shape` attribute. It returns a tuple.

In [3]:
df.shape #filas y columnas

(398, 9)

## Columns
If you want to know the columns of the dataset, just use the sintaxis `df.columns`

In [4]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

You can also know the amount of columns of the dataset with the `len` of `df.columns`.

In [8]:
len(df.columns)

9

In [10]:
print("número de columnas de mi df", df.shape[1])

número de columnas de mi df 9

https://realpython.com/python-string-formatting/

In [11]:
# si quisieramos saber cuantas rows posicion 0
print(f"Mi dataframe tiene {df.shape[0]} filas")

Mi dataframe tiene 398 filas

## Few observations
If you want to check in a few registers the aspect of the dataset's rows, you can use `df.head()` or `df.tail()`. It has an argument for specifying the numer of observations you want to see, 5 by default. Head for the first ones and tail for the last ones.

In [18]:
df.head(6)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500

In [19]:
df.tail(4)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

## Types of data
It is very important to know the types of every column because you will apply feature engineering and make some transformations in the datasset, and if you don't know the types of the columns, the data wrangling won't be applied correctly. So, how can we know the types of the data? with `df.dtypes`.

In [27]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model_year        int64
origin           object
name             object
dtype: object

As you can see, the types of the data are the same as numpy types

## Missings
Another useful information you must know at the beginning of the exploratory analysis is the amount of null values per column. You can achieve this with `df.info()`. Info is a very useful method because there is not only the information about missings, but also the types of data and amount of columns and rows.

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [29]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

## Some statistics
We have just seen some metadata about the DataFrama, and even a few observations with `head()` or `tail()`, but some aggregated information about the columns coud be very useful for understanding their the behaviour. We can do this with the method `df.describe()`. By default, it will print a DataFrame with basic statistics of numeric variables (max, mean, min, count and percentiles).

[Here is a link to the documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html).

In [30]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

We can see both numerical and categorical columns with the argument `include = "all"`.

In [31]:
df.describe(include = "all")

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398,398
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,305
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,usa,ford pinto
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,249,6
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,NaN,NaN
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,NaN,NaN
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,NaN,NaN
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,NaN,NaN
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,NaN,NaN
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,NaN,NaN
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,NaN,NaN

In [37]:
df["origin"].unique()

array(['usa', 'japan', 'europe'], dtype=object)

This is not all the information that we can get from a pandas DataFrame, this notebook is composed with just a few useful lines of code that you must use when import a new dataset.