# Handling Missing Data

The difference between data found in many tutorials and data in the real world is that real-world data is rarely clean and homogeneous.
In particular, **many interesting datasets will have some amount of data missing**.
To make matters even more complicated, different data sources may indicate missing data in different ways.

In this section, we will discuss some general considerations for missing data, discuss how Pandas chooses to represent it, and demonstrate some built-in Pandas tools for handling missing data in Python.

## Missing Data in Pandas

The way in which Pandas **handles missing values is constrained by its reliance on the NumPy package**, which does not have a built-in notion of NA values for non-floating-point data types.

**Pandas chose to use sentinels for missing data**, the sentinel value **could be some data-specific convention, such as indicating a missing integer value with -9999** or some rare bit pattern, or it could be a more global convention, such as indicating a missing floating-point value with **NaN (Not a Number)**, a special value which is part of the [IEEE floating-point specification](https://es.wikipedia.org/wiki/IEEE_754).  Pandas chose to use two already-existing Python null values: the special floating-point **``NaN`` value, and the Python ``None`` object**. This choice has some side effects, as we will see, but in practice ends up being a good compromise in most cases of interest.

### ``None``: Pythonic missing data

The first sentinel value used by Pandas is **``None``**, a Python singleton object that is often used for missing data in Python code.
Because it is a Python object, ``None`` cannot be used in any arbitrary NumPy/Pandas array, but only in arrays with data type ``'object'`` (i.e., arrays of Python objects):

In [1]:
import numpy as np
import pandas as pd

In [3]:
array1 = np.array([1, None, 3, 4])
array1

array([1, None, 3, 4], dtype=object)

This ``dtype=object`` means that the best common type representation NumPy could infer for the contents of the array is that they are Python objects.
While this kind of object array is useful for some purposes, any operations on the data will be done at the Python level, with much more overhead than the typically fast operations seen for arrays with native types:

In [5]:
np.arange(1e6, dtype=dtype)

array([     0,      1,      2, ..., 999997, 999998, 999999])

In [4]:
# Los números pueden incluirse en arrays de tipo objecto y realizar sumas igualmente. PERO es más lento.
for dtype in ['object', 'int']:
    print("dtype =", dtype)
    %timeit np.arange(1e6, dtype=dtype).sum()
    print()

dtype = object
302 ms ± 27.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

dtype = int
11.5 ms ± 188 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES operaciones con None</h3>
         
 </td></tr>
</table>

The use of Python objects in an array also means that if you perform aggregations like ``sum()`` or ``min()`` across an array with a ``None`` value, you will generally get an error:

In [6]:
# TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'
array1.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

This reflects the fact that addition between an integer and ``None`` is undefined.

### ``NaN``: Missing numerical data

The other missing data representation, ``NaN`` (acronym for *Not a Number*), is different; it is a special floating-point value recognized by all systems that use the standard IEEE floating-point representation:

In [9]:
array2 = np.array([1, np.nan, 3, 4])
array2.dtype

dtype('float64')

Notice that NumPy chose a native floating-point type for this array: this means that **unlike the object array from before, this array supports fast operations pushed into compiled code.**
You should be aware that ``NaN`` is a bit like a data virus–it infects any other object it touches.
Regardless of the operation, the result of arithmetic with ``NaN`` will be another ``NaN``:

In [10]:
np.nan + 1

nan

In [11]:
0 + np.nan

nan

Note that this means that aggregates over the values are well defined (i.e., they don't result in an error) but not always useful:

In [13]:
array2.sum(), array2.min(), array2.max()

(nan, nan, nan)

NumPy does provide some special aggregations that will ignore these missing values:

In [14]:
np.nansum(array2), np.nanmin(array2), np.nanmax(array2)

(8.0, 1.0, 4.0)

|Function Name      |   NaN-safe Version  | Description                                   |
|-------------------|---------------------|-----------------------------------------------|
| ``np.sum``        | ``np.nansum``       | Compute sum of elements                       |
| ``np.prod``       | ``np.nanprod``      | Compute product of elements                   |
| ``np.mean``       | ``np.nanmean``      | Compute mean of elements                      |
| ``np.std``        | ``np.nanstd``       | Compute standard deviation                    |
| ``np.var``        | ``np.nanvar``       | Compute variance                              |
| ``np.min``        | ``np.nanmin``       | Find minimum value                            |
| ``np.max``        | ``np.nanmax``       | Find maximum value                            |
| ``np.argmin``     | ``np.nanargmin``    | Find index of minimum value                   |
| ``np.argmax``     | ``np.nanargmax``    | Find index of maximum value                   |
| ``np.median``     | ``np.nanmedian``    | Compute median of elements                    |
| ``np.percentile`` | ``np.nanpercentile``| Compute rank-based statistics of elements     |
| ``np.any``        | N/A                 | Evaluate whether any elements are true        |
| ``np.all``        | N/A                 | Evaluate whether all elements are true        |

**Keep in mind that ``NaN`` is specifically a floating-point value; there is no equivalent NaN value for integers, strings, or other types.**

### NaN and None in Pandas

``NaN`` and ``None`` both have their place, and Pandas is built to handle the two of them nearly interchangeably, converting between them where appropriate:

In [15]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [16]:
pd.Series([1, None, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [17]:
a = pd.Series(["1", np.nan, "2", None])
print(a)
print(type(a.iloc[0]))
print(type(a.iloc[1]))
print(type(a.iloc[3]))

0       1
1     NaN
2       2
3    None
dtype: object
<class 'str'>
<class 'float'>
<class 'NoneType'>

For types that don't have an available sentinel value, Pandas automatically type-casts when NA values are present.
For example, **if we set a value in an integer array to ``np.nan``, it will automatically be upcast to a floating-point type to accommodate the NA**:

In [18]:
x = pd.Series(range(2), dtype=int)
x

0    0
1    1
dtype: int32

In [19]:
x[0] = None
x

0    NaN
1    1.0
dtype: float64

Notice that **in addition to casting the integer array to floating point, Pandas automatically converts the ``None`` to a ``NaN`` value.**
(Be aware that there is a proposal to add a native integer NA to Pandas in the future; as of this writing, it has not been included).

While this type of magic may feel a bit hackish compared to the more unified approach to NA values in domain-specific languages like R, the Pandas sentinel/casting approach works quite well in practice and in my experience only rarely causes issues.

The following table lists the upcasting conventions in Pandas when NA values are introduced:

|Typeclass     | Conversion When Storing NAs | NA Sentinel Value      |
|--------------|-----------------------------|------------------------|
| ``floating`` | No change                   | ``np.nan``             |
| ``object``   | No change                   | ``None`` or ``np.nan`` |
| ``integer``  | Cast to ``float64``         | ``np.nan``             |
| ``boolean``  | Cast to ``float64`` or false| ``np.nan`` or ``None``  respectively|

Keep in mind that in Pandas, string data is always stored with an ``object`` dtype.

In [20]:
# si defino una serie de bool, al cambiarlo a None fuerza el bool
x = pd.Series([False, False])
print(x)

0    False
1    False
dtype: bool

In [21]:
x[1] = None
x

0    False
1    False
dtype: bool

In [22]:
x[1] = np.nan
x

0    0.0
1    NaN
dtype: float64

In [23]:
float(False)

0.0

## Operating on Null Values

As we have seen, **Pandas treats ``None`` and ``NaN`` as essentially interchangeable for indicating missing or null values.**
To facilitate this convention, there are several useful methods for detecting, removing, and replacing null values in Pandas data structures.
They are:

- ``isnull()``: Generate a boolean mask indicating missing values
- ``notnull()``: Opposite of ``isnull()``
- ``dropna()``: Return a filtered version of the data
- ``fillna()``: Return a copy of the data with missing values filled or imputed

We will conclude this section with a brief exploration and demonstration of these routines.

### Detecting null values
Pandas data structures have two useful methods for detecting null data: ``isnull()`` and ``notnull()``.
Either one will return a Boolean mask over the data. For example:

In [24]:
data = pd.Series([1, np.nan, 'hello', None])

In [25]:
data

0        1
1      NaN
2    hello
3     None
dtype: object

In [26]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

As mentioned in [Data Indexing and Selection](Data-Indexing-and-Selection_Clase.ipynb), Boolean masks can be used directly as a ``Series`` or ``DataFrame`` index:

In [30]:
data[data.isnull()]

1     NaN
3    None
dtype: object

In [31]:
data.notnull()

0     True
1    False
2     True
3    False
dtype: bool

In [29]:
data[data.notnull()]

0        1
2    hello
dtype: object

In [32]:
data[~data.isnull()] # como la ~ niega la condición a continuación esto sería igual que .notnull()

0        1
2    hello
dtype: object

The ``isnull()`` and ``notnull()`` methods produce similar Boolean results for ``DataFrame``s.

### Dropping null values

In addition to the masking used before, there are the convenience methods, ``dropna()``
(which removes NA values) and ``fillna()`` (which fills in NA values). For a ``Series``,
the result is straightforward:

In [35]:
data = data.dropna()

0        1
1      NaN
2    hello
3     None
dtype: object

In [34]:
data.dropna()

0        1
2    hello
dtype: object

For a ``DataFrame``, there are more options.
Consider the following ``DataFrame``:

In [36]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

We cannot drop single values from a ``DataFrame``; we can only drop full rows or full columns.
Depending on the application, you might want one or the other, so ``dropna()`` gives a number of options for a ``DataFrame``.

By default, ``dropna()`` will drop all rows in which *any* null value is present:

In [37]:
df.dropna()

     0    1  2
1  2.0  3.0  5

Alternatively, you can drop NA values along a different axis; ``axis=1`` or ``axis="columns"`` drops all columns containing a null value:

In [38]:
df.dropna(axis = 1)

   2
0  2
1  5
2  6

In [41]:
df.dropna(axis = "columns")

   2
0  2
1  5
2  6

But this drops some good data as well; you might rather be interested in dropping rows or columns with *all* NA values, or a majority of NA values.
This can be specified through the ``how`` or ``thresh`` parameters, which allow fine control of the number of nulls to allow through.

The default is ``how='any'``, such that any row or column (depending on the ``axis`` keyword) containing a null value will be dropped.
You can also specify ``how='all'``, which will only drop rows/columns that are *all* null values:

In [43]:
df[3] = np.nan

In [46]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [45]:
df.dropna(axis = 1, how = "all")

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [47]:
df.dropna(axis = 1, how = "any")

   2
0  2
1  5
2  6

For finer-grained control, the ``thresh`` parameter lets you specify a minimum number of non-null values for the row/column to be kept:

In [48]:
# cuantos valores NO NULOS para salvarse de ser eliminado
df.dropna(axis = "rows", thresh = 3)

     0    1  2   3
1  2.0  3.0  5 NaN

In [53]:
df.dropna(axis = "columns", thresh = 2)

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

Here the first and last row have been dropped, because they contain only two non-null values.

### Filling null values

Sometimes rather than dropping NA values, you'd rather replace them with a valid value.
This value might be a single number like zero, or it might be some sort of imputation or interpolation from the good values.
You could do this in-place using the ``isnull()`` method as a mask, but because it is such a common operation Pandas provides the ``fillna()`` method, which returns a copy of the array with the null values replaced.

Consider the following ``Series``:

In [54]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

We can fill NA entries with a single value, such as zero:

In [58]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [57]:
data.fillna(data.mean())

a    1.0
b    2.0
c    2.0
d    2.0
e    3.0
dtype: float64

We can specify a forward-fill to propagate the previous value forward:

In [61]:
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [59]:
# forward-fill
data.fillna(method = "ffill")

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

Or we can specify a back-fill to propagate the next values backward:

In [60]:
# back-fill
data.fillna(method = "bfill")

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

For ``DataFrame``s, the options are similar, but we can also specify an ``axis`` along which the fills take place:

In [62]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [64]:
df.fillna(method = "bfill", axis = 1)

     0    1    2   3
0  1.0  2.0  2.0 NaN
1  2.0  3.0  5.0 NaN
2  4.0  4.0  6.0 NaN

In [65]:
df.fillna(method = "ffill", axis = 1)

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0

In [68]:
df.fillna(method = "ffill", axis = 0)

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  2.0  4.0  6 NaN

In [70]:
df.fillna(method = "bfill", axis = 0)

     0    1  2   3
0  1.0  3.0  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [81]:
# SIEMPRE POR LOS NOMBRES DE LAS COLUMNAS
df.fillna({0:0, 1:0, 3:6})

     0    1  2    3
0  1.0  0.0  2  6.0
1  2.0  3.0  5  6.0
2  0.0  4.0  6  6.0

Notice that if a previous value is not available during a forward fill, the NA value remains.