# Python | Programación funcional

### Ejercicio 1.

1. Utiliza `reduce` para concatenar estas palabras en una frase
```Python
ejer_1 = ("to", "be", "or", "not", "to", "be", "that", "is", "the", "question")
```

In [1]:
ejer_1 = ("to", "be", "or", "not", "to", "be", "that", "is", "the", "question")

In [5]:
from functools import reduce

reduce(lambda x, y: x + " " + y, ejer_1)

'to be or not to be that is the question'

2. Obtén una nueva tupla con el cuadrado de cada elemento de la siguiente tupla

```Python
ejer_2 = (1,2,3,4,5)
```

In [6]:
ejer_2 = (1,2,3,4,5)

In [8]:
tuple(map(lambda x : x**2, ejer_2))

(1, 4, 9, 16, 25)

3. Filtra aquellos elementos que sean multiplos de 3 o de 5
```Python
ejer_3 = (1,2,3,4,5,15,21,22,33,34,35)
```

In [9]:
ejer_3 = (1,2,3,4,5,15,21,22,33,34,35)

In [10]:
list(filter(lambda x: x%3==0 or x%5==0, ejer_3))

[3, 5, 15, 21, 33, 35]

4. Convierte la siguiente tupla de pesetas a euros
```Python
ejer_4 = (1000, 8000, 20000000, 40000000)
```

In [13]:
ejer_4 = (1000, 8000, 20000000, 40000000)

In [26]:


list(map(lambda a: a/166, ejer_4))

[6.024096385542169, 48.19277108433735, 120481.92771084337, 240963.85542168675]

5. Convierte la siguiente lista de desconocidos a mayusculas
```Python
ejer_5 = ("Arya", "John", "Robb", "Bran", "Sansa", "Rickon")
```

In [27]:
ejer_5 = ("Arya", "John", "Robb", "Bran", "Sansa", "Rickon")

In [29]:
list(map(lambda x: x.upper(), ejer_5))

['ARYA', 'JOHN', 'ROBB', 'BRAN', 'SANSA', 'RICKON']

6. Realiza un conversor de dias de la semana en texto a numerico (1-7), usando `map`.
```Python
ejer_6 = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")
```

In [30]:
ejer_6 = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")

In [84]:
dias = [1, 2, 3, 4, 5, 6, 7]

list(map(lambda x,y: x if x == "" else y, ejer_6,dias))

[1, 2, 3, 4, 5, 6, 7]

7. Utiliza `map` para multiplicar elemento a elemento estas dos tuplas
```Python
ejer_7_1 = (2, 5, 8)
ejer_7_2 = (6, 3, 2)
```

In [39]:
ejer_7_1 = (2, 5, 8)
ejer_7_2 = (6, 3, 2)

In [41]:
tuple(map(lambda a, b: a * b, ejer_7_1, ejer_7_2))

(12, 15, 16)

8. Crea una tupla nueva con todos los coches que no sean VW :)

```Python
ejer_8 = ("VW", "Audi", "Renault", "VW", "BMW")
```

In [42]:
ejer_8 = ("VW", "Audi", "Renault", "VW", "BMW")

In [44]:
tuple(filter(lambda x: x != "VW",ejer_8 ))

('Audi', 'Renault', 'BMW')

9. Dadas las siguientes fechas en formato string, quedate con aquellas del año 2020

```Python
ejer_9 = ("2019-04-08", "2020-10-10", "2020-01-22", "2019-07-13", "2019-02-01")
```

In [46]:
ejer_9 = ("2019-04-08", "2020-10-10", "2020-01-22", "2019-07-13", "2019-02-01")

In [49]:
tuple(filter(lambda x: "2020" not in x,ejer_9 ))

('2019-04-08', '2019-07-13', '2019-02-01')

10. Filtra aquellos strings que sean [palíndromos](https://es.wikipedia.org/wiki/Pal%C3%ADndromo)
```Python
ejer_10 = ("php", "w3r", "Python", "abcd", "Java", "aaa")
```

In [53]:
ejer_10 = ("php", "w3r", "Python", "abcd", "Java", "aaa")

In [54]:
tuple(filter(lambda x: x[::-1] == x,ejer_10 ))

('php', 'aaa')

### Bonus Track.

- Resuelve esta kata usando `map`
https://www.codewars.com/kata/554b4ac871d6813a03000035

Nota: si es demasiado difícil intenta resolverla sin usar `map` y si lo consigues, vuelve a resolverla usando `map`.