# 02 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np 
import requests
import json

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). Assign it to a variable called chipo.

This time we are going to pull data directly from the internet.

In [13]:
#chipo = requests.get("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")

In [17]:
chipo = pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')
chipo

#si pongo chipo.to_json("nombre.json") se va a guardar en json o si pongo to_csv se guarda en csv para tenerlo despues o to_excel

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [32]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [116]:
chipo.shape[1]

5

In [116]:
#chipo['item_price'] = chipo['item_price'].apply(lambda x : x[1:] if x.startswith("$") else x)

In [7]:
chipo['item_price'].str[1:].astype(float)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

### Step 3. Name of the most expensive products (item_name)

¿Recuerdas el `map`? En **pandas** tienes el método [`apply`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html) y en para resolver este ejercicio te puede ser muy útil. 

Pero no acaba ahí https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas

In [18]:

chipo['item_price'] = chipo.item_price.apply(lambda x: float(x[1:]))

In [54]:
chipo[chipo['item_price'] == chipo['item_price'].max()]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 4. How many products cost more than $10.00?

In [81]:
expensive_products = chipo.groupby('item_name')['item_price'].max(10).count()

print("products with price > $10.00 are", expensive_products)

products with price > $10.00 are 50

In [67]:
chipo[chipo['item_price'] > 10]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [83]:

chipo[['item_name', 'item_price']]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa      2.39
1                                      Izze      3.39
2                          Nantucket Nectar      3.39
3     Chips and Tomatillo-Green Chili Salsa      2.39
4                              Chicken Bowl     16.98
...                                     ...        ...
4617                          Steak Burrito     11.75
4618                          Steak Burrito     11.75
4619                     Chicken Salad Bowl     11.25
4620                     Chicken Salad Bowl      8.75
4621                     Chicken Salad Bowl      8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [102]:
chipo.sort_values('item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

V1

In [175]:
price = chipo['item_price'].max()
quantity_price = chipo.loc[(chipo["item_price"]==price),:]

print(" the quantity of max price is ", quantity_price["quantity"])

 the quantity of max price is  3598    15
Name: quantity, dtype: int64

V2

In [174]:
max_quantity = chipo[chipo.item_price == 44.25]['quantity'].max()
print(" the quantity of max price is ", max_quantity)

 the quantity of max price is  15

In [125]:

chipo.groupby('quantity')['item_price'].max()

quantity
1     11.89
2     23.78
3     35.25
4     35.00
5      7.50
7     10.50
8     13.52
10    15.00
15    44.25
Name: item_price, dtype: float64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [141]:
salad_time = chipo[chipo.item_name == "Veggie Salad Bowl"]['quantity'].count()


print("Number of Veggie Salad Bowls ordered:", salad_time )

Number of Veggie Salad Bowls ordered: 18

### Step 9. How many times did someone order more than one Canned Soda?

In [162]:

soda = chipo.loc[chipo['item_name']=='Canned Soda',:]
print(soda.loc[soda['quantity'] > 1,'quantity'].count())

20