# Data Science Bootcamp - The Bridge 
## Precurso
En este notebook vamos a ver, uno a uno, los conceptos básicos de Python. Constarán de ejercicios prácticos acompañados de una explicación teórica dada por el profesor.

Los siguientes enlaces están recomendados para el alumno para profundizar y reforzar conceptos a partir de  ejercicios y ejemplos:

- https://facundoq.github.io/courses/aa2018/res/02_python.html

- https://www.w3resource.com/python-exercises/

- https://www.practicepython.org/

- https://es.slideshare.net/egutierrezru/python-paraprincipiantes

- https://www.sololearn.com/Play/Python#

- https://github.com/mhkmcp/Python-Bootcamp-from-Basic-to-Advanced

Ejercicios avanzados:

- https://github.com/darkprinx/100-plus-Python-programming-exercises-extended/tree/master/Status (++)

- https://github.com/mahtab04/Python-Programming-Practice (++)

- https://github.com/whojayantkumar/Python_Programs (+++)

- https://www.w3resource.com/python-exercises/ (++++)

- https://github.com/fupus/notebooks-ejercicios (+++++)

Tutor de ayuda PythonTutor:

- http://pythontutor.com/

## 1. Variables y tipos

### Cadenas

In [1]:
# Entero - Integer - int
x = 7
# Cadena - String - Lista de caracteres
x = "lorena"
print(x)

x = 7
print(x)

lorena
7

In [2]:
type (x)

int

In [ ]:
# built-in
type

In [3]:
x = 5
y = 7

z = x + y
print(z)

12

In [4]:
x = "'lorena'\" "
l = 'silvia----'

g = x + l
# Las cadenas se concatenan
print(g)

'lorena'" silvia----

In [5]:
print(g)

'lorena'" silvia----

In [6]:
# type muestra el tipo de la variable
type(g)

str

In [7]:
type(3)

int

In [8]:
# print es una función que recibe varios argumentos y cada argumento está diferenciado por la coma. Después de cada coma, la función 'print' añade un espacio.

# mala praxis
print(    g,z  ,    6,     "cadena")

# buena praxis - PEP8
print(g, z, 6, "cadena")

'lorena'" silvia---- 12 6 cadena
'lorena'" silvia---- 12 6 cadena

In [9]:
x = 5
s = "6"
print(x+s)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
# Cambiar de int a str
#se usa la función built-in para ambiar

x = 6
print(type(x))
x = str(6)
print(type(x))

<class 'int'>
<class 'str'>

In [16]:
x = 5
z ="6" + str (x)
print (z)

65

In [22]:
# Cambiar de str a int
s = "56"
print(s)
print(type(s))
s = int(s)
print(s)
print(type(s))

z = 7 + s
print(z)

56
<class 'str'>
56
<class 'int'>
63

In [24]:
s = "56a"
s = int(s)
print (s)

ValueError: invalid literal for int() with base 10: '56a'

In [25]:
# Para ver la longitud de una lista de caracteres (lista)

p= "lista caracteres"
print(len(p))

16

In [ ]:
# String, Integer, Float, List, None (NaN), bool
# str, int, float, list, bool

In [26]:
x = 5.877
print(type(x))

<class 'float'>

In [28]:
o = x +2 
print(o)

7.877

In [29]:
x = float(x)
print(x)
print(type(x))

5.877
<class 'float'>

In [30]:
l = 2 + 5 * 3
print(l)

17

In [33]:
l = (2+5)*3
print(l)

21

In [34]:
m = ((((65 + int("22")) * 2)))
m

174

In [35]:
s = "89"
print(type(int(s)))

<class 'int'>

In [36]:
print(type(int(string2)))

NameError: name 'string2' is not defined

In [ ]:
# los decimales son float. Python permite las operaciones entre int y float
x = 4
y = 4.2

print(x + y)

In [39]:
# La división normal (/) es siempre float
# La división absoluta (//) puede ser: 
# - float si uno de los dos números (o los dos) son float
# - int si los dos son int 
j = 15
k = 4
division = j // k
print(division)

3

In [40]:
num1 = 12
num2 = 3

suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2 
division = num1 / num2
division_absoluta = num1 // num2

print("suma:", suma)
print("resta:", resta)
print("multiplicacion:", multiplicacion)
print("division:", division)
print("division_absoluta:", division_absoluta)
print(type(division))
print(type(division_absoluta))

suma: 15
resta: 9
multiplicacion: 36
division: 4.0
division_absoluta: 4
<class 'float'>
<class 'int'>

In [ ]:
# Jupyter notebook permite que la última línea se imprima por pantalla ( la variable )
#si hay varias variables estas no van a salir, solo saldrá la últim

In [ ]:
# Soy un comentario
# print("Hello Python world!")
# Estoy creando una variable que vale 2
"""
Esto es otro comentario
"""

## Ejercicio: 
### Crear una nueva celda.
### Declarar tres variables: 
- Una con el nombre "edad" con valor vuestra edad
- Otra "edad_compañero_der" que contengan la edad de tipo entero de vuestro compañero de la derecha
- Otra "suma_anterior" que contenga la suma de las dos variables anteriormente declaradas

 Mostrar por pantalla la variable "suma_anterior"

In [45]:
edad = 31
edad_companero_der = 57
suma_anterior = edad + edad_companero_der
print(suma_anterior)

88

In [71]:
# funciones built-in de string
# no se puede utilizar una función o nombre reservado como nombre de variable por que inhabilitariamos la función de python

string1 = "Hola"
string1.upper
print(string1)

Hola

## 2. Números y operadores

In [52]:
x = 4
x = x + 1
print(x)

x +=2  # esto sirve para sumar a una variable
print(x)

5
7

In [46]:
### Enteros ###

x = 3

print("- Tipo de x:")
print(type(x)) # Imprime el tipo (o `clase`) de x
print("- Valor de x:")
print(x)       # Imprimir un valor
print("- x+1:")
print(x + 1)   # Suma: imprime "4"
print("- x-1:")
print(x - 1)   # Resta; imprime "2"
print("- x*2:")
print(x * 2)   # Multiplicación; imprime "6"
print("- x^2:")
print(x ** 2)  # Exponenciación; imprime "9"
# Modificación de x
x += 1 
print("- x modificado:")
print(x)  # Imprime "4"

x *= 2
print("- x modificado:")
print(x)  # Imprime "8"

print("- El módulo de x con 40")
print(40 % x)

print("- Varias cosas en una línea:")
print(1, 2, x, 5*2) # imprime varias cosas a la vez

- Tipo de x:
<class 'int'>
- Valor de x:
3
- x+1:
4
- x-1:
2
- x*2:
6
- x^2:
9
- x modificado:
4
- x modificado:
8
- El módulo de x con 40
0
- Varias cosas en una línea:
1 2 8 10

In [53]:
# El módulo muestra el resto de la división entre dos números
#el modulo de unnúmero es % es decirla división entre dos números  a partir del 2 ese es 0

x = 4 % 2
print(x)

0

In [54]:
numero = 99

numero % 2  # Si el resto es 0, el número es par. Sino, impar.

1

## Título markdown
### OTRO TITULO

# INPUT 
# es pedirle al usuario que esta ejecutando esa celda, que muestre algo

In [66]:
x = int(input())
print(type(x))
l = 4 + x
print(x)
print(l)

<class 'int'>
56
60

In [67]:
x = int(input("Escribe algo:"))
print(type(x))
l = 4 + x
print(x)

<class 'int'>
56

In [ ]:
## 3. Tipo None

In [ ]:
x = None

## Un tipo a tener en cuenta mas adelante por que no se puede sumar con los integrales, es un tipo nuevo no representa nada

## Booleans

In [ ]:
cierto = True
no cierto = False

## 4. Listas y colecciones

In [ ]:
#una colección:
#lista, conjunto (set), tupla, array, string

In [72]:
# Lista de elementos:

# Las posiciones se empiezan a contar desde 0
s = "Cadena"

In [73]:
print(s[0])

C

In [75]:
lista = []
print(type(lista))

<class 'list'>

In [77]:
lista = [3, 7.2, "hola"]
print(lista[2])
print(lista[1])
print(lista[0])

hola
7.2
3

In [ ]:
#la ultima posición de una colección coincide con el (numero de elementos -1)

In [79]:
print(lista[-1]) #último
print(lista[-2]) #penúltimo
print(lista[-3]) #antepenúltimo

hola
7.2
3

In [81]:
print(lista[0:2])

[3, 7.2]

In [82]:
lista2 = ["Hola", 2, [7.2, "x"]]
print(len(lista2))

3

In [83]:
print(lista2[-1])

[7.2, 'x']

In [84]:
print(lista2[-1][-1]) #para mostrar el último elemento del último elemento, es una lista que tiene una x y por eso le le hacen los dos menos

x

In [85]:
lista3 = ["hola", 2, [7.2, "xa"]]
print(lista3[-1][-1][0])  #se accede dentro de la colección y se presenta solo la x

x

In [102]:
lista4 = ["hola", 2, [[7.2, "xa"]]]
print(type(lista4))
print(lista4[-1])
print(type(lista4[-1]))
print(lista4[-1][0])
print(type(lista4[-1][0]))
print(lista4[-1][0][-1])
print(lista4[-1][0][-1][0])
print(type(lista4[-1][0][-1][0]))

<class 'list'>
[[7.2, 'xa']]
<class 'list'>
[7.2, 'xa']
<class 'list'>
xa
x
<class 'str'>

In [103]:
s = "Hola soy Clara"

print(s[::-1])

aralC yos aloH

In [108]:
#Coge todos los eleementos desde la posición 3 hasta el final 
s[3:]

'a soy Clara'

In [106]:
# Para acceder a varios elementos, se especifica con la nomenclatura "[N:M]". N es el primer elemento a obtener, M es el último elemento a obtener pero no incluido. Ejemplo: 

# Queremos mostrar desde las posiciones 3 a la 7. Debemos especificar: [3:8]

# Si M no tiene ningún valor, se obtiene desde N hasta el final. 
# Si N no tiene ningún valor, es desde el principio de la colección hasta M
s[3:len(s)]

'a soy Clara'

In [107]:
#coge todos los elementos hasta la posición 3 (sin incluir)
s[:3]

'Hol'

In [109]:
# Agrega un valor a la última posición de la lista
s = "hola"
s =s.upper()
print(s)

HOLA

In [117]:
lista = [4, "x"]
print(lista)
lista.append(7)
print(lista)
print(len(lista))

[4, 'x']
[4, 'x', 7]
3

In [114]:
lista.append(7)

In [115]:
print(lista)

[4, 'x', 7, 7, 7]

In [124]:
# remove elimina el primer elemento que se encuentra que coincide con el valor del argumento
# elimina el primer elemento que se encuentra, si hay dos 7 solo va a eliminar el primero
lista = [4, "y", 7, "y"] 
lista.append("y") #append siempre añade el elemento al final de la lista
print(lista)
lista.remove("y") #elimina la primera coincidencia
print(lista)

[4, 'y', 7, 'y', 'y']
[4, 7, 'y', 'y']

In [125]:
lista = [4, "x", "y",["z"]] #queremos pasar de esta lista a una lista asi lista = [4, "x", "y",["z", [4]]]
lista[-1].append([4]) # añade una lista 4 a la lista [z]
print(lista)

[4, 'x', 'y', ['z', [4]]]

In [127]:
lista = [4, "x", "y",["z"]] #queremos pasar de esta lista a una lista asi lista = [4, "x", "y",["z", [4]]]
lista[-1].append(4) # añade un entero 4 a la lista [z]
print(lista)

[4, 'x', 'y', ['z', 4]]

In [126]:
h = 4
l =[4]
print("tipo de h:", type(h))
print("tipo de l:", type(l))

tipo de h: <class 'int'>
tipo de l: <class 'list'>

In [130]:
# Accedemos a la posición 1 del elemento que está en la posición 2 de lista
lista2 = ["1", 9.4, [8.1, "xs"]]
print(lista[2][1])

xs

In [131]:
lista = ["1", 9.4, [8.1, "xs"]]  #le da la vuelta a la lista 
lista.reverse()
print(lista)

[[8.1, 'xs'], 9.4, '1']

In [133]:
lista3 = [2, 4, 6.8, "o"]

4

In [136]:
lista3.append(lista2)
print(lista3)

['hola', 2, [7.2, 'xa'], ['Hola', 2, [7.2, 'x']], ['Hola', 2, [7.2, 'x']], ['Hola', 2, [7.2, 'x']]]

In [140]:
lista_1 = [2, 4]
lista_2 =[8, 9]
print(lista_1)
print(lista_2)
lista_1.append(lista_2) #añadir el ultimo elemento al final de la lista
print(lista_1)
#lista_3 = lista_1 + lista_2 #concatenamos

[2, 4]
[8, 9]
[2, 4, [8, 9]]

In [141]:
#añadimos un elemento dentro de una lista
lista3[5][0].append(lista2)
print(lista3)

AttributeError: 'str' object has no attribute 'append'

### Colecciones

1. Listas
2. String (colección de caracteres)
3. Tuplas
4. Conjuntos (Set)
5. Diccionarios

In [142]:
# Listas --> Mutables
lista = [2, 5, "caract", [9, "g", ["j"]]]
print(lista[-1][-1][-1])
lista[3][2][0]

j

'j'

In [146]:
# Tuplas --> Inmutables #tupla es otro tipo de colección que incluye un parentesis (si empieza con 4 elementos termina con 4 elementos, si queremos cambiar lo pasamos a una lista)

tupla = (2, 5, "caract", [9, "g", ["j"]])
print(type(tupla))
tupla

<class 'tuple'>

(2, 5, 'caract', [9, 'g', ['j']])

In [144]:
lista = [2, 5]
tupla = (2, 4)
print(len(tupla))
tupla[1]

2

4

In [147]:
# Update listas
lista = [2, "6", ["k", "m"]]
lista[1] = 1
lista

[2, 1, ['k', 'm']]

In [148]:
tupla = (2, "6", ["k", "m"])
tupla[1] = 1
lista

TypeError: 'tuple' object does not support item assignment

In [149]:
tupla[2].append("Otro") #La tupla es inmutable pero si se pueden modificar las colecciones mutables dentro de ella como por ejemplo en ese caso la lista que estaba dentro
tupla

(2, '6', ['k', 'm', 'Otro'])

In [150]:
tupla[2].remove("k")
tupla[2].remove("m")
tupla[2].remove("Otro")
tupla

(2, '6', [])

In [151]:
# Conjuntos ( es una colección de elementos, pero tienen la peculiaridad que no tienen elementos repetidos y ordenan los elementos, se representan con una llave)

conjunto = [2, 4, 6, "a", "z", "h", 2]
conjunto = set(conjunto) #así se convierte en conjunto por que con corchete se hace diccioniario es decir con el set, vacio no se puede pero con elementos si 
conjunto

{2, 4, 6, 'a', 'h', 'z'}

In [152]:
conjunto = ["a", "z", "h", 2, 2, 4, 6, True, True, False]
conjunto = set(conjunto)
conjunto

{2, 4, 6, False, True, 'a', 'h', 'z'}

In [153]:
conjunto = ["a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False]
conjunto = set(conjunto)
conjunto

{2, 2.1, 2.3, 2.4, 4, 6, False, True, 'a', 'h', 'z'}

In [154]:
conjunto_tupla = ("a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False)
conjunto = set(conjunto_tupla)
conjunto

{2, 2.1, 2.3, 2.4, 4, 6, False, True, 'a', 'h', 'z'}

In [155]:
conjunto = {"a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False}
conjunto

{2, 2.1, 2.3, 2.4, 4, 6, False, True, 'a', 'h', 'z'}

In [ ]:
s = "String"
lista_s = list(s)
lista_s

In [ ]:
s = "String"
conj = {s}
conj

In [ ]:
# Cambiar de tupla a lista, remover elemento y convertir en tupla

In [ ]:
conjunto = {2, 5, "h"}
lista_con_conjunto = [conjunto]
lista_con_conjunto[0]

In [ ]:
# No podemos acceder a elementos de un conjunto
lista_con_conjunto[0][0]

## 5. Condiciones: if, elif, else

### Boolean

In [ ]:
True
False

In [ ]:
# Operadores comparativos

In [ ]:
# Diferente

In [ ]:
"""
==  -> Igualdad
!= -> Diferecia
< -> Menor que
> -> Mayor que
<= -> Menor o igual
>= -> Mayor o igual
"""

In [ ]:
# and solo devolverá True si TODOS son True
True and False

In [ ]:
# or devolverá True si UNO es True

In [ ]:
# Sinónimos de False para las condiciones:
# None
# False
# 0 (int or float)
# Cualquier colección vacía --> [], "", (), {}

# El None no actúa como un número al compararlo con otro número
"""
El True lo toma como un numérico 1
"""

# Bucles For, While

In [ ]:
# Lista alturas

## Funciones