In [1]:
from utils.b import function1

function1()

'function1'

In [3]:
import sys
sys.path[0]

'z:\\Data_Science\\TheBridge\\Content\\Contenido_Curso\\data_science_apr_2021\\week7_EDA_pbi_map_rss\\day3_review\\relative_imports_review\\src'

In [ ]:
import dashboard.a

In [1]:
from dashboard.a import function_a

function_a()

z:\Data_Science\TheBridge\Content\Contenido_Curso\data_science_apr_2021\week7_EDA_pbi_map_rss\day3_review\relative_imports_review\src
Function a
function_c

In [13]:
s = "ABC\DEFGH"
s.replace("\\", "\\\\")

'ABC\\DEFGH'

In [37]:
# read_csv auto-mpg.csv
import pandas as pd 

# La segunda mejor práctica
df = pd.read_csv("../data/auto-mpg.csv")

df

      mpg  cylinders  ...  origin                   car name
0    18.0          8  ...       1  chevrolet chevelle malibu
1    15.0          8  ...       1          buick skylark 320
2    18.0          8  ...       1         plymouth satellite
3    16.0          8  ...       1              amc rebel sst
4    17.0          8  ...       1                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...       1            ford mustang gl
394  44.0          4  ...       2                  vw pickup
395  32.0          4  ...       1              dodge rampage
396  28.0          4  ...       1                ford ranger
397  31.0          4  ...       1                 chevy s-10

[398 rows x 9 columns]

In [33]:
# Esta es la mejor práctica sin duda

# read_csv auto-mpg.csv calculando el archivo de forma absoluta

import os
SEP = os.sep
dir = os.path.dirname

csv_fullpath = dir(os.getcwd()) + SEP + "data" + SEP + "auto-mpg.csv"
pd.read_csv(csv_fullpath)

csv_fullpath

'z:\\Data_Science\\TheBridge\\Content\\Contenido_Curso\\data_science_apr_2021\\week7_EDA_pbi_map_rss\\day3_review\\relative_imports_review\\data\\auto-mpg.csv'

In [34]:
pd.read_csv(csv_fullpath)

      mpg  cylinders  ...  origin                   car name
0    18.0          8  ...       1  chevrolet chevelle malibu
1    15.0          8  ...       1          buick skylark 320
2    18.0          8  ...       1         plymouth satellite
3    16.0          8  ...       1              amc rebel sst
4    17.0          8  ...       1                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...       1            ford mustang gl
394  44.0          4  ...       2                  vw pickup
395  32.0          4  ...       1              dodge rampage
396  28.0          4  ...       1                ford ranger
397  31.0          4  ...       1                 chevy s-10

[398 rows x 9 columns]