In [6]:
X = {9: {"v": 22}}
Y = [set((list(X.items())[0][0], True, 33)), 44]
Z = (77, {-120: [set(), "Data Scientist"]})

In [5]:
conjuntos = {
10: (85, "TV", True),
"K": [(6, [2<1], X[9]["v"])] ,
(6,5): Y[0],
Z[1][-120][1]: X,
tuple(list(Y[0])): Z,
"last": list(Z[1].values())[0][1][-1]
}
conjuntos

{10: (85, 'TV', True),
 'K': [(6, [False], 22)],
 (6, 5): {True, 9, 33},
 'Data Scientist': {9: {'v': 22}},
 (9, True, 33): (77, {-120: [set(), 'Data Scientist']}),
 'last': 't'}

In [37]:
X = {9: {"v": 22}}
list(X.items())

[(9, {'v': 22})]

In [38]:
for t in X.items():
    print(t)

(9, {'v': 22})

In [40]:
for k, v in X.items():
    print(v)
    print(k)

{'v': 22}
9

In [ ]:
x, y = 2, 4

In [41]:
t = 2, 4
t

(2, 4)

In [42]:
def items():
    return 4, "x"

z = items()
print(z)

(4, 'x')

In [55]:
# Cambiar un valor de un diccionario dentro de otro
# Cambiar el 22
X = {9: {"v": 22}}
X

{9: {'v': 22}}

In [56]:
# actualizamos el valor de la clave "v" a 23
X[9]["v"] = 23
X

{9: {'v': 23}}

In [7]:
# Añadir un nuevo elemento al diccionario que es el valor de la clave9
X[9]["z"] = 1
X

{9: {'v': 22, 'z': 1}}

In [8]:
# Sumar uno al valor de 'z' = 1
X[9]["z"] = X[9]["z"] + 1
X

{9: {'v': 22, 'z': 2}}

In [9]:
# Mediante un for, mostrar el valor 33

Y = [set((list(X.items())[0][0], True, 33)), 44]
type(Y)
#list(Y[0])[-1]

list

In [73]:
# for por posición
# for por valor
for i in range(len(Y)):
    if i == 0:  # Si es la primera posición
        for elem in Y[i]:
            if elem == 33:  
                print(elem)

33

In [74]:
Y[0]

{True, 9, 33}

In [77]:
Y

[{True, 9, 33}, 44]

In [76]:
# for por valor
for v_elem in Y[0]:
    if v_elem == 33:
        print(v_elem)

33

In [82]:
# for por valor
for v_elem in Y:
    if isinstance(v_elem, set):
        for v in v_elem:
            if v == 33:
                print(v)

33

In [ ]:
posicion_de_Y = None
posicion_de_v_elem = None

# for por valor y posición
for pos1, v_elem in enumerate(Y):
    if isinstance(v_elem, set):
        for pos2, v in enumerate(v_elem):
            if v == 33:
                print(v)
                posicion_de_Y = pos1
                posicion_de_v_elem = pos2

In [94]:
Y

[{9, 34}, 44]

In [93]:
Y[0] = list(Y[0])
Y[0][-1] = 34
Y[0] = set(Y[0])
Y

[{9, 34}, 44]

In [68]:
s = set([2, 4, "x"])
s

{2, 4, 'x'}

In [64]:
for elem in s:
    print(elem)

x
2
4

In [67]:
l = [2, 4]
t = tuple(l)
t

(2, 4)

In [95]:
Z = (77, {-120: [set(), "Data Scientist"]})
Z

(77, {-120: [set(), 'Data Scientist']})

In [99]:
# Acceder al caracter 'e' de Data Scientist 
Z[1][-120][1][8]

'e'

In [102]:
conjuntos

{10: (85, 'TV', True),
 'K': [(6, [False], 22)],
 (6, 5): {True, 9, 33},
 'Data Scientist': {9: {'v': 22}},
 (9, True, 33): (77, {-120: [set(), 'Data Scientist']}),
 'last': 't'}

In [114]:
# Sumar el 22 de la clave 'Data Scientist' con el 77 
veintidos = conjuntos['Data Scientist'][9]["v"]
setenta_siete = conjuntos[(9, True, 33)][0]
suma = veintidos + setenta_siete
suma

99

In [115]:
conjuntos

{10: (85, 'TV', True),
 'K': [(6, [False], 22)],
 (6, 5): {True, 9, 33},
 'Data Scientist': {9: {'v': 22}},
 (9, True, 33): (77, {-120: [set(), 'Data Scientist']}),
 'last': 't'}

In [120]:
list(conjuntos.keys())[0]

10

In [123]:
list(conjuntos.keys())[4][2]

33

In [132]:
list(conjuntos.keys())

[10, 'K', (6, 5), 'Data Scientist', (9, True, 33), 'last']

In [134]:
conjuntos

{10: (85, 'TV', True),
 'K': [(6, [False], 22)],
 (6, 5): {True, 9, 33},
 'Data Scientist': {9: {'v': 22}},
 (9, True, 33): (77, {-120: [set(), 'Data Scientist']}),
 'last': 't'}

In [142]:
# Función que te devuelva la suma de las claves 10 y 33(dentro de tupla)
def suma_claves(d):
    diez = list(d.keys())[0]
    treinta_tres = list(d.keys())[4][2]
    suma = diez + treinta_tres
    return suma

x = suma_claves(d=conjuntos)
print(x)

43

In [112]:
conjuntos[(9, True, 33)][0]

77

In [104]:
conjuntos[10]

(85, 'TV', True)

In [12]:
list(Z[1].values())[0][1][-1]

't'

In [ ]:
list(Z[1].values())[0][1][-1]

In [13]:
conjuntos

{10: (85, 'TV', True),
 'K': [(6, [False], 22)],
 (6, 5): {True, 9, 33},
 'Data Scientist': {9: {'v': 22}},
 (9, True, 33): (77, {-120: [set(), 'Data Scientist']}),
 'last': 't'}

In [18]:
# con un while, mostrar todos los values de 'conjuntos'

lista_valores = list(conjuntos.values())
lista_valores

[(85, 'TV', True),
 [(6, [False], 22)],
 {True, 9, 33},
 {9: {'v': 22}},
 (77, {-120: [set(), 'Data Scientist']}),
 't']

In [19]:
tam_lista_valores = len(lista_valores)
tam_lista_valores

6

In [24]:
posicion = 0
while posicion < tam_lista_valores:  # posicion < 6
    print(lista_valores[posicion])
    posicion += 1

(85, 'TV', True)
[(6, [False], 22)]
{9, True, 33}
{9: {'v': 22}}
(77, {-120: [set(), 'Data Scientist']})
t