# Python | day 1 | collections

Lists, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 

Print the created list.

In [2]:
student_list = ["Adrian", "Daniel", "Javier", "Jonathan", "Jose", "Leonardo", "Maria", "Maryam", "Miguel", "Nacho", "Pablo", "Sonia", "Susana", "Gina", "Isabel", "John", "Jorge", "Juan", "Karina", "Marina", "Monica", "Mauro" ]
print(student_list)

['Adrian', 'Daniel', 'Javier', 'Jonathan', 'Jose', 'Leonardo', 'Maria', 'Maryam', 'Miguel', 'Nacho', 'Pablo', 'Sonia', 'Susana', 'Gina', 'Isabel', 'John', 'Jorge', 'Juan', 'Karina', 'Marina', 'Monica', 'Mauro']

### Exercise 2

1. Create an empty list, call it **empty_list**

In [4]:
empty_list = []
print(empty_list)

[]

2. Create a list with 5 items, call it **my_list**

In [6]:
my_list = ["Mary", 31, 2.5, [1, 4.6], "Matias"]

3. Find the length of **my_list**

In [7]:
len(my_list)

5

4. Get the first item, the middle item and the last item of **my_list**

In [9]:
print(my_list[0])
print(my_list[2])
print(my_list[-1])

Mary
2.5
Matias

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [18]:
name = "Mary Cruz"
age = 31
height = 150
country = "Ecuador"
python_version = "3.7.4"

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [21]:
mixed_data_types = [name,  age,  height,  country,  python_version ]
print(mixed_data_types)

['Mary Cruz', '31', '150', 'Ecuador', '3.7.4']

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [23]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]


8. Print **it_companies** using print()

In [24]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [25]:
print(len(it_companies))

7

11. Print *Google*

In [26]:
print(it_companies[1])

Google

10. Print the first, middle and last company

In [27]:
print(it_companies[0])
print(it_companies[3])
print(it_companies[-1])

Facebook
Apple
Amazon

11. Assign a new value to the last element of the list

In [47]:
it_companies.append("Uber")

12. Print the list after modifying one of the companies

In [48]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Uber']

## Bonus track.

13. Add an IT company to **it_companies**

In [49]:
it_companies.append("Samsung")

14. Check if *Apple* exists in the **it_companies** list.

In [55]:
 "Apple" in it_companies

True

15. Sort the list using `sort()` method

In [57]:
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle', 'Samsung', 'Uber']

16. Reverse the list in descending order using `reverse()` method

In [58]:
it_companies.reverse()
print(it_companies)

['Uber', 'Samsung', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

17. Slice out the first 3 companies from the list

In [60]:
print(it_companies[0:3])

['Uber', 'Samsung', 'Oracle']

18. Remove the last IT company from the list

In [62]:
it_companies.remove("Amazon")
print(it_companies)

['Uber', 'Samsung', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple']

19. Remove all IT companies from the list

In [63]:
it_companies.remove("Samsung")
it_companies.remove("Oracle")
it_companies.remove("Microsoft")
it_companies.remove("IBM")
print(it_companies)

['Uber', 'Google', 'Facebook', 'Apple']

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [64]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
end = front_end + back_end
print(end)

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. From the **end** list print 'HTML'

In [65]:
print(end[0][0])

HTML

22. From the end list print the 'C' from the word 'CSS'

In [66]:
print(end[0][1][0])

C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [72]:
tup = ("T",)
print(tup)

('T',)

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [73]:
print(type(tup))

<class 'tuple'>

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [76]:
list(tup)
tup= ["T", "H", "E", " ", "B", "R", "I", "D", "G", "E"]
tuple(tup)
#Converti el tuple a lista

('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [78]:
print(tup)
#Esta reasignado en el paso anterior

['T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E']

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [4]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [5]:
my_set = set(lista_repes)
print(my_set)

{'python', 'science', 'diomedes', 'clara', 'gabriel', 'data'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [6]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [7]:
my_set = list(my_set)
print(my_set[0])

python