# 03 - Deleting & handling missing values - Iris

### Step 1. Import the necessary libraries

In [37]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [38]:
iris = pd.read_csv("data/iris.data")
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

### Step 4. Call the columns for the dataset as follows:
1. sepal_length (in cm)
2. sepal_width (in cm)
3. petal_length (in cm)
4. petal_width (in cm)
5. class

In [39]:
iris = pd.DataFrame(np.vstack([iris.columns, iris]))
iris

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [40]:
iris.columns = ['sepal_length (in cm)', 'sepal_width (in cm)', 'petal_length (in cm)', 'petal_width (in cm)', 'class']

In [41]:
iris.head()

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

### Step 5.  Is there any missing value in the dataframe?

In [42]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   sepal_length (in cm)  150 non-null    object
 1   sepal_width (in cm)   150 non-null    object
 2   petal_length (in cm)  150 non-null    object
 3   petal_width (in cm)   150 non-null    object
 4   class                 150 non-null    object
dtypes: object(5)
memory usage: 6.0+ KB

In [43]:
iris.isnull().sum()

sepal_length (in cm)    0
sepal_width (in cm)     0
petal_length (in cm)    0
petal_width (in cm)     0
class                   0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [44]:
iris.iloc[10:30,2] = np.nan
iris.isnull().sum()

sepal_length (in cm)     0
sepal_width (in cm)      0
petal_length (in cm)    20
petal_width (in cm)      0
class                    0
dtype: int64

### Step 7. Good, now lets substitute the NaN values to 1.0

In [45]:
iris = iris.fillna(1.0)
iris.isnull().sum()

sepal_length (in cm)    0
sepal_width (in cm)     0
petal_length (in cm)    0
petal_width (in cm)     0
class                   0
dtype: int64

### Step 8. Now let's delete the column class

In [46]:
iris = iris.iloc[:, :-1]
iris.columns

Index(['sepal_length (in cm)', 'sepal_width (in cm)', 'petal_length (in cm)',
       'petal_width (in cm)'],
      dtype='object')

### Step 9.  Set the first 3 rows as NaN

In [47]:
iris.iloc[:3, :] = np.nan
iris.isnull().sum()

sepal_length (in cm)    3
sepal_width (in cm)     3
petal_length (in cm)    3
petal_width (in cm)     3
dtype: int64

In [48]:
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2
...,...,...,...,...
145,6.7,3.0,5.2,2.3
146,6.3,2.5,5.0,1.9
147,6.5,3.0,5.2,2.0
148,6.2,3.4,5.4,2.3
149,5.9,3.0,5.1,1.8

### Step 10.  Delete the rows that have NaN

In [49]:
iris = iris.dropna()
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2
5,5.4,3.9,1.7,0.4
6,4.6,3.4,1.4,0.3
7,5.0,3.4,1.5,0.2
...,...,...,...,...
145,6.7,3.0,5.2,2.3
146,6.3,2.5,5.0,1.9
147,6.5,3.0,5.2,2.0
148,6.2,3.4,5.4,2.3
149,5.9,3.0,5.1,1.8

### Step 11. Reset the index so it begins with 0 again

In [51]:
iris = iris.reset_index()
iris

,index,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,3,4.6,3.1,1.5,0.2
1,4,5.0,3.6,1.4,0.2
2,5,5.4,3.9,1.7,0.4
3,6,4.6,3.4,1.4,0.3
4,7,5.0,3.4,1.5,0.2
...,...,...,...,...,...
142,145,6.7,3.0,5.2,2.3
143,146,6.3,2.5,5.0,1.9
144,147,6.5,3.0,5.2,2.0
145,148,6.2,3.4,5.4,2.3
146,149,5.9,3.0,5.1,1.8